body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.materi-box {
  border: 3px solid #ffcd00;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  transition: background 0.3s ease;
}

.materi-box:hover {
  background-color: #fff6cc;
  cursor: pointer;
}
