body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.card-container {
  border: 2px solid #d5c9f0;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

/* Tombol exit */
.exit-btn {
  top: 15px;
  right: 15px;
  z-index: 10;
}

.exit-btn img {
  width: 30px;
}

/* Input form */
.form-control {
  border-radius: 12px;
  border: 2px solid #d6c7ef;
  font-size: 14px;
}

.form-control:focus {
  border-color: #7344a9;
  box-shadow: 0 0 0 0.2rem rgba(115, 68, 169, 0.25);
}

/* Tombol register */
.btn-register {
  background-color: #7344a9;
  color: white;
  font-weight: 600;
  padding: 12px;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.btn-register:hover {
  background-color: #5e3791;
}

/* Link login */
.signup-text a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
